# Foundry
dependencies/
out/
cache/
coverage/
coverage.json
gas-report.txt

# Dependencies
node_modules

# Logs
logs
*.log

# Build
build/

# macOS
.DS_Store

# IDE
.idea
.vscode

# Environment variables
.env
.env.local
