# Hardhat files
/cache
/artifacts

# Forge files
/out
/cache_forge
/lib

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/.coverage_artifacts
/.coverage_cache
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/ignition/deployments/chain-31337

# Npm
node_modules

# Env file
.env

# IDE
.idea
.vscode

# OS
.DS_Store
